
<div class="container-fluid">
    <div class="row mt-2  w-100">
        <div class="col-6 col-md-3">
            <div class="card shadow bg-info-subtle">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">New Orders</h5>
                        <h2 class="card-subtitle  me-3 mb-2 text-body-secondary">50</h2>
                    </div>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card  shadow bg-warning-subtle">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">Processing Orders</h5>
                        <h2 class="card-subtitle me-3 mb-2 text-body-secondary">15</h2>
                    </div>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card shadow bg-success-subtle">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">Shipped Orders</h5>
                        <h2 class="card-subtitle me-3 mb-2 text-body-secondary">20</h2>
                    </div>

                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card shadow bg-primary-subtle">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">Delivered Orders</h5>
                        <h2 class="card-subtitle me-3 mb-2 text-body-secondary">10</h2>
                    </div>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex gap-2 mt-4">
        <div class="w-50 shadow p-3">
            <h5>Mothly Sales of books</h5>
            <canvas id="myBarChart" style="width:100%;"></canvas>
        </div>
        <div class=" w-50 shadow p-3">
            <canvas id="myPieChart" style="width:100%;"></canvas>

        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/getChartData",
            type: "GET",
            dataType: "json",
            success: function (response) {
                console.log(response);
                var monthlySales = response.monthlySales;
                var categoryList = response.categoryList;
                var No_Of_Books = response.numberOfBooks;
                renderBarChart(monthlySales);
                renderPieChart(categoryList, No_Of_Books);
            },
            error: function (xhr, status, error) {
                console.error("Failed to fetch monthly sales data:", error);
            }
        });
    });

    function renderBarChart(monthlySales) {
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        console.log(monthlySales);

        new Chart("myBarChart", {
            type: "bar",
            data: {
                labels: months,
                datasets: [{
                    backgroundColor: "rgba(0,0,255,0.5)",
                    borderColor: "rgba(0,0,255,1.0)",
                    borderWidth: 1,
                    data: monthlySales
                }]
            },
            options: {
                legend: { display: false },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return '$' + value;
                            }
                        }
                    }],
                    xAxes: [{
                        barThickness: 40,
                        scaleLabel: {
                            display: true,
                            labelString: 'Months'
                        }
                    }]
                }
            }
        });
    }
</script>

<script>
  
    function renderPieChart(categoryList, No_Of_Books) {
        console.log(categoryList);
        console.log(No_Of_Books);

        var pieColors = [
            "#b91d47", "#00aba9", "#2b5797", "#e8c3b9", "#1e7145",
            "#ffbb00", "#7e3878", "#ff8c00", "#5f9ea0", "#808080"];

        new Chart("myPieChart", {
            type: "pie",
            data: {
                labels: categoryList,
                datasets: [{
                    backgroundColor: pieColors,
                    data: No_Of_Books
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Category-wise Book Sales"
                }
            }
        });
    }
</script>


