@model DataAccess.CustomModels.CustomerMainPage;
@inject IHttpContextAccessor context


<nav class="navbar bg-body-tertiary shadow p-0">
    <div class="row p-2 w-100 ">
        <div class="col-6 d-flex justify-content-start ">
            <button class="btn btn-light bg-transparent d-md-none d-block" style="height:50px; width:50px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand fw-bolder text-primary d-block d-sm-none " href="#">BookStore</a>
            <a class="navbar-brand fw-bolder text-primary d-none d-sm-block " href="#">Online BookStore</a>

        </div>
        <div class="col-6 d-flex justify-content-end ">
            <div class="d-none d-sm-flex  align-items-center">
                <h5 class="mx-2">
                    Welcome <strong> @context.HttpContext.Session.GetString("UserName")</strong>
                </h5>
            </div>
            <a class=" btn btn-outline-info text-dark" asp-action="logout" asp-controller="Home">
                <span class="d-none d-sm-block text-info ">Logout</span>
                <span class="d-block d-sm-none  text-info"><i class="bi bi-box-arrow-right fs-4"></i></span>
            </a>

        </div>
    </div>



    <div class="border-top border-dark collapse show d-none d-md-block w-100 " id="navbarNav">
        <div>
            <ul class="nav nav-underline d-block d-sm-flex" id="myTab" role="tablist">
                <li class="nav-item mx-2" role="presentation">
                    <button class="nav-link active text-black" id="home-tab" data-bs-toggle="tab" data-bs-target="#Dash_Tab" type="button" onclick="AdminDashboard()"
                            role="tab" aria-controls="dash" aria-selected="true">
                        Dashboard
                    </button>
                </li>
                <li class="nav-item mx-2" role="presentation">
                    <button class="nav-link text-black" id="providerLocation-tab" data-bs-toggle="tab" data-bs-target="#ProviderLocation_Tab" type="button" onclick="AdminBookList()"
                            role="tab" aria-controls="providelocation" aria-selected="false">
                        BookList
                    </button>
                </li>
                <li class="nav-item mx-2" role="presentation">
                    <button class="nav-link text-black" id="profile-tab" data-bs-toggle="tab" data-bs-target="#MyAdminProfile_Tab" type="button" onclick=" GetAdminProfile()"
                            role="tab" aria-controls="profile" aria-selected="false">
                        My Profile
                    </button>
                </li>
                <li class="nav-item mx-2 dropdown" role="presentation">
                    <button class="nav-link text-black  dropdown-toggle" data-bs-toggle="dropdown">
                        Manage
                    </button>
                    <ul class="dropdown-menu">
                        <li aria-expanded="false" data-bs-toggle="tab" data-bs-target="#Records_Tab" id="records-tab" type="button" role="tab"><a class="dropdown-item" onclick="GetAuthorsList()"> Manage Author</a></li>
                        <li aria-expanded="false" data-bs-toggle="tab" data-bs-target="#Records_Tab" id="records-tab" type="button" role="tab"><a class="dropdown-item" onclick="GetCategoryList()">Manage Category</a></li>
                    </ul>
                </li>


          
            </ul>
        </div>
    </div>

</nav>



<div class="offcanvas offcanvas-start w-50" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Index</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="border-top border-info collapse show d-md-block " id="navbarNav">
            <div>
                <ul class="nav nav-underline d-block d-md-flex" id="myTab" role="tablist">
                    <li class="nav-item mx-2" role="presentation">
                        <button class="nav-link active text-black" id="home-tab" data-bs-toggle="tab" data-bs-target="#Dash_Tab" type="button" onclick="AdminDashboard()"
                                role="tab" aria-controls="dash" aria-selected="true">
                            Dashboard
                        </button>
                    </li>
                    <li class="nav-item mx-2" role="presentation">
                        <button class="nav-link text-black" id="providerLocation-tab" data-bs-toggle="tab" data-bs-target="#ProviderLocation_Tab" type="button" onclick="AdminBookList()"
                                role="tab" aria-controls="providelocation" aria-selected="false">
                            BookList
                        </button>
                    </li>
                    <li class="nav-item mx-2" role="presentation">
                        <button class="nav-link text-black" id="profile-tab" data-bs-toggle="tab" data-bs-target="#MyAdminProfile_Tab" type="button" onclick=" GetAdminProfile()"
                                role="tab" aria-controls="profile" aria-selected="false">
                            My Profile
                        </button>
                    </li>
                    <li class="nav-item mx-2 dropdown" role="presentation">
                        <button class="nav-link text-black  dropdown-toggle" data-bs-toggle="dropdown">
                            Manage
                        </button>
                        <ul class="dropdown-menu">
                            <li aria-expanded="false" data-bs-toggle="tab" data-bs-target="#Records_Tab" id="records-tab" type="button" role="tab"><a class="dropdown-item" onclick="GetAuthorsList()"> Manage Author</a></li>
                            <li aria-expanded="false" data-bs-toggle="tab" data-bs-target="#Records_Tab" id="records-tab" type="button" role="tab"><a class="dropdown-item" onclick="GetCategoryList()">Manage Category</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>