<partial name="_AdminHeader" />
<div class="container-fluid" id="AdminDash">
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        AdminDashboard();
        
    });
</script>