<style>
    .bg {
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width:100%;
        position: fixed;
        z-index:-1;
    }
</style>
    <partial name="_header" class="" />
<div id="hello" class="position-absolute w-100">
    <img src="~/background_img.jpg" id="" class="img-fluid bg " />
    <div id="custDashboard" class="position-absolute">
        <partial name="_CustomerMainPage" class="" />
    </div>
    <div id="UserProfile">
    </div>
</div>


