<style>
 
</style>

    <partial name="_header"  />
<div id="hello" class="position-absolute w-100">
    <div id="custDashboard" class="position-absolute">
        <partial name="_CustomerMainPage" />
    </div>
    <div id="UserProfile">
    </div>
</div>


