@model DataAccess.CustomModels.ResetPasswordModel
<style>


    .form-group {
        margin-bottom: 20px;
    }

    .btn-submit {
        background-color: #007bff;
        border: none;
        color: #fff;
    }

        .btn-submit:hover {
            background-color: #0056b3;
        }

    .btn-reset {
        background-color: #ffc107;
        border: none;
        color: #212529;
    }

        .btn-reset:hover {
            background-color: #d39e00;
        }
</style>



<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
            <div class="card shadow-lg mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Reset Password</h2>
                    <form id="resetForm" method="post" onsubmit="ResetPassword()">
                        <div class="form-group">
                            <input type="email" asp-for="@Model.Email" class="form-control" id="email" placeholder="Email" disabled>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Password" required oninput="return PasswordLength()">
                            <span class="text-danger" id="error"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="Password2" class="form-control" id="confirmPassword" placeholder="Confirm Password" required oninput="return ComparePassword()">
                            <span class="text-danger" id="error2"></span>
                        </div>
                        <div class="d-flex justify-content-end gap-2">
                            <button type="submit" class="btn btn-primary btn-block" id="submitbtn" disabled>Submit</button>
                            <button type="reset" class="btn btn-secondary btn-block">Reset</button>
                        </div>

                        <input type="text" asp-for="Email" hidden />
                        <input type="text" asp-for="UserId" hidden />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function PasswordLength() {
        var password = document.getElementById("password").value;

        if (password.length < 6) {
            $('#error').text("Password length must be greater than 6!");
            return false;

        } else {
            $('#error').hide();
        }
    }
    function ComparePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if (password != confirmPassword) {
            $('#error2').text("Passwords not the same!");
            $('#submitbtn').prop('disabled', true);

            return false;
        } else {
            $('#error2').empty();
            $('#submitbtn').prop('disabled', false);

        }
    }

</script>

