@model DataAccess.CustomModels.CustomerMainPage;
@inject IHttpContextAccessor context
<style>
    .dropdown-menu {
        margin-left: 90%;
    }

    a {
        cursor: pointer;
    }

</style>
<input type="text" asp-for="@Model.itemCount" id="CartCount" hidden />

<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm w-100">
    <div class="container-fluid">
        <button class="btn btn-dark bg-transparent d-block d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-dark fs-4 fw-bolder" href="#">Online BookStore</a>
        <div class="offcanvas offcanvas-start w-75" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header bg-dark">
                <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close bg-transparent border-0 text-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex">
                <ul class="navbar-nav w-100">
                    <li class="nav-item ">
                        <a class="nav-link text-dark" onclick="GetCustomerDashboard()">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link  d-flex text-dark w-100" onclick="GetUserProfile()">My Profile</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link  d-flex text-dark w-100" onclick="GetOrderHistory()"> My Order</a>
                    </li>
                    <li>
                        <div style="position: relative;" class="d-md-none d-flex">
                            <input type="text" value="@Model.AddToCarts.Count()" hidden id="modelcountdata" />
                            <a class="nav-link text-dark" onclick="GetCartList()">My Cart</a>
                            <div class="badge bg-danger text-white rounded-circle position-absolute top-0 start-100" style="margin-left: -25px;margin-top:6px; opacity: 0.9;"></div>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link text-dark d-md-none d-flex" asp-action="logout" asp-controller="Home">Logout</a>
                    </li>
                </ul>
                <div class="d-flex w-100 justify-content-end align-items-center gap-3" id="navbarSupportedContent">
                    <h5 class=" d-none d-md-block bg-light">
                        Welcome: <strong class="bg-light">@context.HttpContext.Session.GetString("UserName")</strong>
                    </h5>
                    <div style="position: relative;" class="d-none d-md-block">
                        <button class="btn bg-transparent border rounded-1 position-relative" onclick="GetCartList()">
                            <span class="bi-cart text-dark bi fw-bold"></span>
                        </button>
                        @if (Model.AddToCarts.Count() != 0)
                        {

                            <div class="badge bg-danger text-white rounded-circle position-absolute top-0 start-100" style="margin-left: -10px;margin-top:-6px; opacity: 0.9;">
                                <span class="text-danger">.</span>
                            </div>
                        }
                    </div>
                    <div class="dropdown overflow-hidden position-static d-none d-md-flex align-items-center m-0">
                        <button class="btn bg-transparent border rounded-5 p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @if (Model.user.Profilephoto != null)
                            {

                                <img src="~/UsersProfile/@Model.user.Profilephoto" height="40" width="40" alt="Profile Photo" class=" border rounded-5">
                            }
                            else
                            {
                                <img src="~/UsersProfile/profile-placeholder.jpg" height="40" width="40" alt="Profile Photo">
                            }
                        </button>
                        <ul class="dropdown-menu" style="max-width: 300px; overflow-x: auto;">
                            <li><a class="dropdown-item text-dark">Add Account</a></li>
                            <li><a class="dropdown-item text-dark" asp-action="logout" asp-controller="Home">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
 

</script>